.btn:focus, /*清除btn按钮点击出现的边框*/
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none !important;
    box-shadow: none !important;
}
.content{
    margin-top: 100px;
}
.gray-bg {
    background-color: #f3f3f4;
}
.sub {
    width: 100px;
}
.pointer{
    cursor:pointer;
}