{
    "server":
        {
            "host": "0.0.0.0",
            "port": 8341,
            "type": "http"
        }
    ,
    "log": {
        "type": "file",
        "filePath": "temp/logs/app.log"
    },
    "mysql": {
        "host": "127.0.0.1",
        "port": "3306",
        "database": "database",
        "username": "root",
        "max_idel_conn": 10,
        "max_open_conn": 12,
        "conn_max_lifetime": 600
    },
    "redis": {
        "host": "127.0.0.1",
        "port": "6379"
    }
}